body {
  color: rgb(48, 57, 66);
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  color: black;
  font-size: 16px;
  font-weight: normal;
}

input[type="password"], input[type="text"] {
  border: 1px solid #777;
  border-radius: 2px;
  padding: 2px 3px 2px 3px;
}

#profile-titles {
  margin-left: 20px;
}

#profile-titles span {
  border: 1px solid #444;
  border-bottom: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 7px 10px 7px 10px;
  margin-right: 20px;
}

#profile-titles span.profile-selected {
  background-color: white;
  opacity: 1;
  z-index: 3;
}

#profile-titles a {
  color: rgb(48, 57, 66);
  text-decoration: none;
}

#profile-titles .delete-profile {
  color: #777;
  cursor: inherit;
  margin-left: 5px;
}

.delete-profile:hover {
  color: #777;
}

span.profile-selected a {
  font-weight: bold;
  cursor: default;
}

#profile-settings {
  background-color: white;
  border: 1px solid #444;
  border-radius: 2px;
  max-width: 500px;
  margin-top: 6px;
  opacity: 1;
  padding: 15px;
  z-index: 2;
}

#length-number {
  margin-left: 7px;
  position: relative;
  top: -5px;
}
